.tabs li a{font-weight: normal; padding-left: 15px; padding: 6px 15px;}
.tabs li ul{	top: 28px;}
.tabs li ul li ul{top: 0px;}

#page_table_1{margin-left: -15px;}
.page_title a img{margin-top: -5px; padding-bottom: 3px; padding-top: 3px;}